<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Template for HTML email with inline image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    Hello!
</p>
<p>
    You have a new appointment from the user <span th:text="${name}">user</span>!
</p>
<p>
    Here are the details:
</p>
<ul>
    <li>
        Time: <span th:text="${date}">date</span> <span> at </span> <span th:text="${hour}">hour</span>
    </li>
    <li>
        Client name: <span th:text="${firstName}">firstName </span> <span th:text="${lastName}">lastName</span>
    </li>
    <li>
        Phone: <span th:text="${phone}">phone</span>
    </li>
    <li>
        Location: <span th:text="${location}">location</span>
    </li>
</ul>
<p>
    Enter the app to see more details!
</p>
</body>
</html>